- add_to_breadcrumbs _('Webhook settings'), group_hooks_path(group_id: @group)
- page_title _('Webhook logs')

%h2.page-title.gl-text-size-h-display
  = _("Request details")

%hr

- if @hook_log.oversize?
  .has-tooltip.gl-float-right{ title: _("Request data is too large") }
    = render(Pajamas::ButtonComponent.new(variant: :confirm, button_options: { class: "gl-ml-3", disabled: true })) do
      = _("Resend Request")
- else
  = render(Pajamas::ButtonComponent.new(method: :post, href: @hook_log.present.retry_path, button_options: { class: "gl-float-right gl-ml-3" })) do
    = _("Resend Request")

= render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }
