- page_title s_('DuoEnterpriseTrial|Start your free Duo Enterprise trial')
- content_for :page_specific_javascripts do
  = render 'layouts/google_tag_manager_head'
  = render 'layouts/one_trust'
= render 'layouts/google_tag_manager_body'

.gl-flex.gl-flex-col.md:gl-flex-row.gl-items-center.gl-justify-center.gl-bg-no-repeat.bg-decorations
  .sm:gl-m-8.gl-max-w-80
    .gl-p-7.gl-rounded-lg.gl-bg-white
      = sprite_icon('tanuki-ai', size: 32, css_class: 'gl-pb-3')

      %h2.gl-mt-0
        = title_text

      %p.gl-text-subtle.gl-text-lg
        = s_('DuoEnterpriseTrial|We just need some additional information to activate your trial.')

      = before_form_content

      #js-trial-create-lead-form{ data: form_data }

  = render GitlabSubscriptions::Trials::DuoEnterprise::AdvantagesListComponent.new
